version: '3.8'
services:
  frontend:
    build:
      context: ../Client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    networks:
      - app_network
#    depends_on:
#      - backend

  backend:
    build:
      context: ../Server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    networks:
      - app_network

networks:
  app_network:
    driver: bridge